@model Games.ViewModel.GameViewModel

<form asp-controller="Game" asp-action="Save" method="post">
	<input type="hidden" asp-for="@Model.Game.Id" />

	<div>
		<label asp-for="@Model.Game.Name">Name: </label>
		<input type="text" asp-for="@Model.Game.Name"/>
	</div>

	<div>
		<label asp-for="@Model.Game.ReleaseDate">Release Date: </label>
		<input type="date" asp-for="@Model.Game.ReleaseDate" />
	</div>

	<button type="submit" class="btn btn-primary">Send</button>

</form>