@model HobbyCollection.Website.ViewModels.GameViewModel

<form asp-controller="Game" asp-action="Save" method="post" id="formGame">
	<input type="hidden" asp-for="@Model.Game.Id" />

	<div class="">
		<label asp-for="@Model.Game.Name" class="form-label">Name: </label>
		<input type="text" asp-for="@Model.Game.Name" class="form-control"/>
	</div>

	<div class="">
		<label asp-for="@Model.Game.ReleaseDate" class="form-label">Release Date: </label>
		<input type="date" asp-for="@Model.Game.ReleaseDate" class="form-control" />
	</div>

	<br />
	<div class="">
		<button type="submit" class="btn btn-primary">Save</button>
		<button type="reset" class="btn btn-warning">Reset</button>
	</div>

</form>